.add_button {
	font-size: 35px;
	background: none;
	border: none;
	color: $color__green;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.1;
	margin-left: 10px;
	&:active {
		transform: translateY(2px);
	}
}
.display_delete--btn {
	font-size: 22px;
	background: none;
	border: none;
	cursor: pointer;
	vertical-align: middle;
	line-height: 1;
	display: none;
	color: $color__red;
	&:active {
		transform: translateY(2px);
	}
}
