.add_button {
	font-size: 35px;
	background: none;
	border: none;
	color: $color__button;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.1;
	margin-left: 10px;
	&:active {
		transform: translateY(2px);
	}
}
