.right {
	float: right;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.green {
	color: $color__green !important;
	&:focus {
		border: 1px solid $color__green !important;
	}
}
.red {
	color: $color__red !important;
	&:focus {
		border: 1px solid $color__red !important;
	}
}
